body {
    padding: 2rem;
}

header {
    padding: 1rem;
}

header h1 {
    text-align: center;
    background-color: #333;
    color: white;
    border: 0.3rem solid white;
}

section {
    padding: 1.5rem;
}

.project {
    padding: 1rem;
}

footer {
    padding: 1rem;
}

